<header class="page-header">
    <div class="page-header__inner">
        <div class="page-header__sidebar">
          <div class="page-header__menu-btn">
            <button class="menu-btn ico_menu is-active"></button>
          </div>
          <a class="page-header__logo" href="/">
            <img src="/assets/degen-brand/degen-heroes-hero-transparent.png" alt="degen heroes logo">
            <span class="page-header__logo_text">Degen Heroes</span>
          </a>
        </div>
        <div class="page-header__content">
            <div class="page-header__search">
                <div class="search">&nbsp;</div>
            </div>
            <div class="page-header__action">
              <a href="https://discord.gg/degenheroes" target="_blank">
                <i class="fa-brands fa-discord"></i>
              </a>
              <a href="https://github.com/degen-heroes/degenheroes.gg" target="_blank">
                <i class="fa-brands fa-github"></i>
              </a>
        </div>
    </div>
</header>
