<aside class="sidebar is-show" id="sidebar">
  <div class="sidebar-box">
    <ul class="uk-nav">
      <li class="uk-nav-header">Guides</li>
      <li>
        <a href="/getting-started/"
          ><i class="ico_profile"></i><span>Getting Started</span></a
        >
      </li>
      <li>
        <a href="/buying-first-heroes/"
          ><i class="ico_profile"></i><span>Buying your first heroes</span></a
        >
      </li>

      <li class="uk-nav-header">Resources</li>
      <li>
        <a href="/resources/"
          ><i class="ico_profile"></i><span>All Resources</span></a
        >
      </li>
      <li>
        <a href="/pages-of-the-eternal-story/"
          ><i class="ico_profile"></i><span>Pages of the Eternal Story</span></a
        >
      </li>
      <li>
        <a href="/Quests/"
          ><i class="ico_profile"></i><span>Profession and Training Quests</span></a
        >
      </li>
    </ul>
  </div>
</aside>
